.stripe1 {
    background: transparent;
    margin: 0 0;
}

.font-text{
    font-family: 'Roboto', sans-serif;
}

.dropdown-1{
    background: transparent;
}

.img {

    background-image: url("https://www.google.co.il/maps/@32.0766127,34.7796028,15z?hl=pt-BR");
    background-size: cover;
    background-position: center;
    text-align: center;
    height:100%;
}

.container-fluid {
    margin-left: 80px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.margin-title{
    margin-top: 150px;
}
